.rounded-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .rounded-table th,
  .rounded-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-radius: 8px; /* Ajout de la bordure arrondie */
  }
  
  .rounded-table th {
   background-color: #f2f2f2;
    color: #333;
  }
      